<div class="">
    <div class="w-50 ml-auto mr-auto">
      <div class='login-container text-center'>  
        <%= image_tag('poke_trade_logo', size: "200", class: 'mb-2') %>
        <%= button_to "Login", '/login', method: :get, class: "btn btn-primary btn-lg btn-block"%>
        <br>
        <%= button_to "Cadastre-se", '/users/new', method: :get, class: "btn btn-primary btn-lg btn-block"%>
      </div>  
    </div>        
</div>   